.todo-list {
  max-height: calc(100% - 64px);
  overflow: auto;
}

.todo-form {
  margin: 2rem 0;
}

#add-todo-button {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.app-subtitle {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-left: 0.5rem;
}

.is-completed .todo-description {
  text-decoration: line-through;
  color: rgba(185, 185, 185, 0.6);
}

.todo-list-item .todo-actions {
  display: none;
}

.todo-list-item:hover .todo-actions {
  display: block;
}
