.todo-list {
  margin: 2rem 0;
}

.todo-form {
  margin: 2rem 0;
}

#add-todo-button {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.app-subtitle {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-left: 0.5rem;
}
