#task-container,
#planner-container {
  height: 100%;
}

.task-list {
  max-height: calc(100% - 128px);
  overflow: auto;
}

.calendar-view {
  max-height: calc(100% - 64px);
  overflow: auto;
}

.task-form {
  margin: 2rem 0;
}

#add-task-button {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.app-subtitle {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-left: 0.5rem;
}

.is-completed .task-description h3 {
  text-decoration: line-through;
  color: rgba(185, 185, 185, 0.6);
}

.task-list-item .task-actions {
  display: none;
}

.task-list-item:hover .task-actions {
  display: block;
}

.category-list .nav-item {
  padding-left: 0 !important;
}

.nav-item.selected {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.08);
}

.task-categories {
  color: #9d9d9d;
}

.nav-item .sidebar-icon {
  opacity: 0;
}

.nav-item:hover .sidebar-icon {
  opacity: 1;
}
